<!DOCTYPE html>
<html>
  <head>
    <title>Imstagram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
        <div class="sticky">
          <a href="/" class="brand-logo">Imstagram</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down"> 
            <% if user_signed_in? %>
              <li>환영합니다, <strong><%= current_user.name %></strong>님</li>
              <!--<li><a href="/mypage/index">My Page</a></li>-->
              <li><%= link_to 'My Page', "/posts/user/#{current_user.id}" %></li>
              <li><%= link_to '개인정보수정', edit_user_registration_path %></li>
              <li><%= link_to '로그아웃', destroy_user_session_path, method: 'delete' %></li>
            <% else %>
              <li><a href="/users/sign_in">로그인</a></li>
              <li><a href="/users/sign_up">회원가입</a></li>
            <% end %>
          </ul>
        </div>
      </div>  
    </nav>
    <%= yield %>
  </body>
</html>
